  
{% set pageTitle = "This service is only for people in the UK" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v5" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/{{version}}">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>
      <p>You cannot use this service to ask for a coronavirus test if you are outside the UK.</p>
      <p>For the latest NHS information and advice, see our pages on <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">coronavirus (COVID-19)</a>.</p>

    </div>  
  </div>
{% endblock %}
