{% set pageTitle = "What is your mobile phone number?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v5" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/{{version}}/what-is-your-name">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{version}}/check-your-answers" method="post">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-2" for="telephone">
              {{pageTitle}}
            </label>
          </h1>
          <span class="nhsuk-hint" id="telephone-hint">
            We need your mobile phone number to send you a text message with a link to book an appointment.
          </span>
          <span class="nhsuk-hint" id="telephone-format-hint">
            Enter a mobile phone number, for example, "07700 900123".
          </span>
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Help with non-UK mobile numbers
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>If you have a non-UK mobile, include one of these before the phone number:</p>
              <ul>
                <li>+ and the country code</li>
                <li>00 and the country code</li>
              </ul>
            </div>
          </details>
          <input class="nhsuk-input nhsuk-input--width-10" id="telephone" name="telephone" type="text" aria-describedby="telephone-hint telephone-format-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['telephone'] }}">
        </div>

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>  
  </div>
{% endblock %}
