// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';

// Back link fix
.nhsuk-back-link {
  @include nhsuk-responsive-padding(4, 'top');
  margin-bottom: 0;
}

// Confirmation panel

.app-panel--green {
  background-color: #007f3b; 
  color: #ffffff;
}

// Radio divider spacing

.app-radios__divider--hint {
  margin-bottom: 16px;
}
