{% set pageTitle = "What is your name?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v6" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/{{version}}/index">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{version}}/what-is-your-phone-number" method="post">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              {{pageTitle}}
            </h1>
          </legend>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="first-name">
              First name
            </label>
            <input class="nhsuk-input" id="first-name" name="first-name" type="text" value="{{ data['first-name'] }}">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="last-name">
              Last name
            </label>
            <input class="nhsuk-input" id="last-name" name="last-name" type="text" value="{{ data['last-name'] }}">
          </div>

        </fieldset>

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
