{% set pageTitle = "You are in a waiting area" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/{{version}}">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>
      <p>We are limiting the number of people who can ask for a test at the same time.</p>  
      <p>It may take a few minutes. Please wait.</p>
      <p>If you leave this page, you will leave the waiting area.</p>
      <p>You do not need to refresh this page. It will refresh automatically.</p>

    </div>  
  </div>
{% endblock %}
