{% set pageTitle = "How do you want to get the coronavirus test?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v3" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/{{version}}">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form method="post" action="/{{version}}/action/test-kit-type">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="test-kit-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                {{ pageTitle }}
              </h1>
            </legend>

            <span class="nhsuk-hint" id="test-kit-hint">
              For a drive-through test, you or someone you live with must have a car to get to a regional test centre. Select your country or ask for a home test kit.
            </span>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="test-kit-drive-through-england" name="test-kit" type="radio" value="England">
                <label class="nhsuk-label nhsuk-radios__label" for="test-kit-drive-through-england">
                 England <strong class="nhsuk-tag nhsuk-tag--green">Available</strong>
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="test-kit-drive-through-scotland" name="test-kit" type="radio" value="Scotland">
                <label class="nhsuk-label nhsuk-radios__label" for="test-kit-drive-through-scotland">
                 Scotland <strong class="nhsuk-tag nhsuk-tag--green">Available</strong>
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="test-kit-drive-through-wales" name="test-kit" type="radio" value="Wales">
                <label class="nhsuk-label nhsuk-radios__label" for="test-kit-drive-through-wales">
                 Wales <strong class="nhsuk-tag nhsuk-tag--green">Available</strong>
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="test-kit-drive-through-northern-ireland" name="test-kit" type="radio" value="Northern Ireland" disabled>
                <label class="nhsuk-label nhsuk-radios__label" for="test-kit-drive-through-northern-ireland">
                 Northern Ireland <strong class="nhsuk-tag nhsuk-tag--green">Available</strong>
                </label>
              </div>
              <div class="nhsuk-radios__divider app-radios__divider--hint">or</div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="test-kit-home" name="test-kit" type="radio" value="Request a home test kit" aria-describedby="test-kit-home-hint" disabled>
                <label class="nhsuk-label nhsuk-radios__label" for="test-kit-home">
                  Request a home test kit <strong class="nhsuk-tag nhsuk-tag--red">None available</strong>
                </label>
                <span class="nhsuk-hint nhsuk-radios__hint" id="test-kit-home-hint">
                  You can ask for a kit for yourself and anyone else you live with who has coronavirus symptoms. This service is on the GOV.UK website. There is an identity check for home test kits.
                </span>
              </div>
            </div>
          </fieldset>

        </div>

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>  
  </div>
{% endblock %}
