{% set pageTitle = "Get a coronavirus test" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageTitle }}</h1>
      <p>Text here about how they are currently only for people with symptoms, or who live with people with symptoms, etc.</p>

      <h2 class="nhsuk-heading-m">Types of test</h2>
      <p>Explanation of the two different types, etc.</p>

      <h2 class="nhsuk-heading-m">Who can get a test</h2>
      <p>Text about how it's for the public, but key workers are prioritised (link to GOV.UK)</p>
      
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/test-kit-type">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Find a coronavirus test</span>
        </a>
      </div>
    
    </div>
  </div>
{% endblock %}
