{% set pageTitle = "Get a coronavirus test" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageTitle }}</h1>
      <p>You can get a test if you:</p>
      <ul>
        <li>have coronavirus symptoms (a high temperature or a new, continuous cough)</li>
        <li>live with someone who has coronavirus symptoms</li>
      </ul>

      <h2 class="nhsuk-heading-m">Types of test</h2>
      <p>There are 2 types of test for coronavirus:</p>
      <ul>
        <li>a test to see if you have coronavirus now (the antigen test)</li>
        <li>a test when you get better to see if you had it (the antibody test)</li>
      </ul>
      <p>The test you can request here is the antigen test. It involves taking a swab of your nose and the back of your throat. You can do it yourself or someone can do it for you.</p>

      <h2 class="nhsuk-heading-m">Who can get a test</h2>
      <p>We are giving priority to testing people in hospital and testing key workers. <a href="https://www.gov.uk/guidance/coronavirus-covid-19-getting-tested#list-of-people-being-tested">You can find a list of key workers we are testing on GOV.UK</a>.</p>
      <p>But, as more tests become available, we are also offering tests to people who are self-isolating at home with coronavirus symptoms.</p>
      
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/test-kit-type">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Get a coronavirus test</span>
        </a>
      </div>
    
    </div>
  </div>
{% endblock %}
