{% set pageTitle = "COVID-19 testing prototypes" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      <h2 class="nhsuk-heading-m">Version 1 (Current - index page up to date on 4 June)</h2>
      <ul>
        <li>
          <a href="/v1">Ask for a test to check if you have coronavirus</a>
          <ul style="margin-top: 8px;">
            <li><a href="/v1/service-closed">The service is now closed and will open later</a></li>
            <li><a href="/v1/no-test-kits">There are no coronavirus tests available for the public right now</a></li>
            <li><a href="/v1/no-test-kits-centre">There are no drive-through tests available for the public right now</a></li>
            <li><a href="/v1/no-test-kits-home">There are no home tests available for the public right now</a></li>
            <li><a href="/v1/waiting-room">Waiting room</a></li>
            <li><a href="/v1/geofence">Geofence</a></li>
          </ul>
        </li>
        <li>
          <a href="/v1/govuk">Ask for a test to check if you have coronavirus (GOV.UK service)</a>
        </li>
      </ul>

      <h2 class="nhsuk-heading-m">Version 2 (England regions)</h2>
      <p>This version adds a England region selection question.</p>
      <ul>
        <li>
          <a href="/v2">Ask for a test to check if you have coronavirus</a> (not latest version)
          <ul style="margin-top: 8px;">
            <li><a href="/v2/test-kit-type-regions">Where do you want to book a test? (England regions)</a></li>
          </ul>
        </li>
        <li>
          <a href="/v2/govuk">Ask for a test to check if you have coronavirus (GOV.UK service)</a>
          <ul style="margin-top: 8px;">
            <li><a href="https://govuk-home-test-prototype.herokuapp.com/v3/ask-for-a-coronavirus-test/test-kit-type-regions">Where do you want to book a test? (England regions)</a></li>
          </ul>
        </li>
      </ul>

      <h2 class="nhsuk-heading-m">Version 3 (Welsh service)</h2>
      <p>This version directs users in Wales to the Welsh test kit service.</p>
      <ul>
        <li>
          <a href="/v3">Ask for a test to check if you have coronavirus</a> (not latest version)
        </li>
      </ul>
      <h2 class="nhsuk-heading-m">Version 4 (with alternative confirmation page and Behavioural Insights Team recommendations - for testing)</h2>
      <p>This version has 2 versions of the confirmation page.</p>
      <ul>
        <li>
          <a href="/v4">Ask for a test to check if you have coronavirus</a>
        </li>
        <ul>
        <li><a href="/v4/alternative-confirmation-page">Confirmation page - continue, with link to GOV.UK</a></li>
        <li><a href="/v4/confirmation-page">Existing confirmation page - wait for a text</a></li>
        </ul>
      </ul>
    </div>
  </div>
{% endblock %}

