{% set pageTitle = "Book a drive-through test centre appointment" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block backLink %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageTitle }}</h1>
      <p>You will need to drive to the centre or have someone from your household drive you there.</p>
      <p>You cannot use a taxi and you must not drive yourself if you are very unwell.</p>

      <p>You will need to tell us:</p>
      <ul>
        <li>your name</li>
        <li>your mobile phone number</li>
      </ul>

      <a class="nhsuk-button" href="/what-is-your-name">Continue</a>

    </div>  
  </div>
{% endblock %}
