{% set pageTitle = "How do you want to take the coronavirus test?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form method="post" action="/action/test-kit-type">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                {{ pageTitle }}
              </h1>
            </legend>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="test-kit-drive-through" name="test-kit" type="radio" value="By visiting a drive-through test centre" aria-describedby="test-kit-drive-through-hint">
                <label class="nhsuk-label nhsuk-radios__label" for="test-kit-drive-through">
                  By visiting a drive-through test centre
                </label>
                <span class="nhsuk-hint nhsuk-radios__hint" id="test-kit-drive-through-hint">
                  You'll need to have access to a car to use a local test centre
                </span>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="test-kit-home" name="test-kit" type="radio" value="By requesting a home test kit" aria-describedby="test-kit-home-hint">
                <label class="nhsuk-label nhsuk-radios__label" for="test-kit-home">
                  By requesting a home test kit
                </label>
                <span class="nhsuk-hint nhsuk-radios__hint" id="test-kit-home-hint">
                  You can request up to 5 kits for your household
                </span>
              </div>
            </div>
          </fieldset>

        </div>

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>  
  </div>
{% endblock %}
